.book{
    background-color: rgb(246,246,246);
    padding: 1.5rem;
    text-align: center;

    &__title{
        padding: 1rem;
        font-weight: bold;
    }

    &__text{
        color: rgba(0,0,0,.6);
    }

    &>*{
        margin: 1rem;
    }
}
@media #{$medium-up}{
    .book{
        padding: 1rem;
        flex:0 0 50%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}