.header{
    height: 75px;
    display: grid;
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
    grid-template-columns: 50px 1fr 50px;
    grid-template-areas: "arrow logo .";
    
    &__logo{
        grid-area: logo;
        place-self: center;
    }

    &__arrow{
        place-self: center;
        grid-area: arrow;
    }
}