.restaurantMenu{
    background-color: rgb(246,246,246);
    width: 100%;
    position: relative;
    margin-top: -3rem;
    border-radius: 2rem 2rem 0 0;
    padding: 1rem 1rem 3rem 1rem;
    display: flex;
    flex-direction: column;

    &__name{
        font-family: Shrikhand;
        font-size: 1.5rem;
        position: relative;
        margin: 1rem 0 2rem 0;

        & > .heartAnim{
            top:0;
            right: 3rem;
        }
    }

    &__title{
        text-transform: uppercase;
        margin: 1rem 0;
        font-size: 1rem;
        position: relative;
        animation: 1.8s titresMenu  ease-in-out forwards;
        
        &::after{
            content: '';
            width: 40px;
            height: 4px;
            background-color: $tertiaryColor;
            position: absolute;
            left: 0;
            bottom: -8px;
        }
    }

    &__list{
        list-style-type: none;
        padding: 1rem 0;
    }

}

@media #{$small-up}{
    .restaurantMenu{
        &__name{
            text-align: center;
        }

        &__title{
            text-align: center;
        }
        &__title::after{
            left: 50%;
            transform: translate(-50%);
        }

        &__list{
            max-width: 500px;
            margin: 0 auto;
        }
        
    }
}

@media #{$large-up}{
    .restaurantMenu{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        &__name{
            flex: 0 0 100%;
        }

        &__bouton{
            flex:0 0 20%;
            margin-top: 2rem;
        }

        & section{
            flex:0 0 30%;
        }
    }
}

@keyframes titresMenu{
    from{
        transform: translate(-100%);
        opacity: 0;
    }
    to{
        transform: translate(0);
        opacity: 1;
    }
}