.btn{
    color: #fff;
    border:none;
    background: linear-gradient(to bottom, $secondaryColor, $primaryColor);
    padding: 1rem 1.5rem;
    border-radius: 4rem;
    width:fit-content;
    display: inline-block;
    cursor: pointer;

    &:hover{
        background: linear-gradient(to bottom, lighten($secondaryColor,4%), lighten($primaryColor,4%));
        box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    }
}