.heartAnim{
    width: fit-content;
    position: relative;
}
.coeur{
    font-size: 1.5rem;
    background: white;
    width: fit-content;
    -webkit-background-clip:text;
    color:transparent;
    cursor: pointer;
    position: absolute;
}
.coeur::after{
    content:"\f004";
    position: absolute;
    color: black;
    left: -4px;
    top:-4px;
    font-size: 2rem;
    z-index: -1;
    transition: color .3s ease-in-out;
}
.coeur:hover{
    background: linear-gradient(to bottom left, #9356dc, #ff79da);
    -webkit-background-clip:text;
    font-size: 2rem;
    left: -4px;
    top: -4px;
}
.coeur:hover::after{
    z-index: 1000;
    color: transparent;
    left: 0;
    top:0;
}