.menuCard{
    background-color: #fff;
    border-radius: 1rem;
    padding: .8rem;
    position: relative;
    box-shadow: 0 4px 20px rgba(0,0,0,.2);
    margin-bottom: 1rem;
    overflow: hidden;
    top: 30px;
    opacity: 0;

    &:nth-child(1){
        animation: .8s cartes .4s ease-in-out forwards;
    }
    &:nth-child(2){
        animation: .8s cartes .7s ease-in-out forwards;
    }
    &:nth-child(3){
        animation: .8s cartes 1s ease-in-out forwards;
    }

    &__title{
        margin-bottom: .5rem;
    }

    &__text{
        width: calc(100% - 30px);
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
        animation: .6s agrandir ease-in-out forwards;
    }

    &__price{
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        font-weight: bold;
        animation: .6s deplacerReverse ease-in-out forwards;
    }

    &:hover &__price{
        animation: .6s deplacer ease-in-out forwards;
    }

    &:hover &__text{
        animation: .6s reduire ease-in-out forwards;
    }

    &__check{
        background-color: $tertiaryColor;
        cursor: pointer;
        height: 100%;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -60px;
        transform: translate(60px);
        animation: .6s deplacerReverse ease-in-out forwards;
    }

    &__rotation{
        background-color: #fff;
        color:$tertiaryColor;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:hover &__check{
        animation: .6s deplacer ease-in-out forwards;
    }

    &:hover &__rotation{
        animation: .6s tourner ease-in-out;
    }
}

@keyframes tourner{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(1turn);
    }
}
@keyframes deplacer{
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-60px);
    }
}
@keyframes deplacerReverse{
    from{
        transform: translate(-60px);
    }
    to{
        transform: translate(0);
    }
}
@keyframes reduire{
    from{
        width: calc(100% - 30px);
    }
    to{
        width: calc(100% - 90px);
    }
}
@keyframes agrandir{
    from{
        width: calc(100% - 90px);
    }
    to{
        width: calc(100% - 30px);
    }
}

@keyframes cartes{
    0%{
        top:30px;
        opacity:0;
    }
    100%{
        top:0;
        opacity: 1;
    }
}