*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color:inherit;
}
*::selection{
    background-color: $tertiaryColor;
}